* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    color: white;
    min-height: 100vh;
}

#container {
    width: 100%;
}

#noteHeader {
    display: flex;
    padding: 1rem;
    background-color: hsl(0, 0%, 5%);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#addNoteBtn,
#sortBtn {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0.8rem;
    border: none;
    color: hsl(60, 100%, 50%);
    font-size: 3rem;
}

#sortBtn {
    font-size: 2rem;
    transform: translateY(-5px);
    color: hsl(0, 0%, 90%);
}

#addNoteBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#sortBtn:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.2);
}

#newNoteContainer {
    display: none;
    flex-direction: column;
    width: 100%;
}

#noteTitle {
    font-size: 1.5rem;
    outline: none;
    border: none;
    padding: 0rem 1rem;
    height: 3rem;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

#noteBody {
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    padding: 1rem;
    flex-grow: 1;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

#closeBtn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    font-size: 3rem;
    right: 2.5rem;
    top: 1rem;
    line-height: 2rem;
    color: white;
}

#deleteBtn{
    position: absolute;
    border: 3px solid black;
    color: red;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.5rem;
    right: 2rem;
    bottom: 1rem;
    background-color: white;
    border-radius: 50%;
}

#closeBtn:hover, #deleteBtn:hover{
    cursor: pointer;
}

#noteContainer {
    column-width: 12rem;
    column-gap: 0.5rem;
    padding: 1rem;
}

.note {
    break-inside: avoid;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 5%);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 40%);
}

.note h2{
    word-break: break-all;
}
.note p {
    overflow-wrap: break-word;
}